name: opencode

on:
  issue_comment:
    types: [created]
  pull_request_review_comment:
    types: [created]

jobs:
  opencode:
    if: |
      startsWith(github.event.comment.body, '/oc ') ||
      github.event.comment.body == '/oc' ||
      contains(github.event.comment.body, ' /oc ') ||
      endsWith(github.event.comment.body, ' /oc') ||
      startsWith(github.event.comment.body, '/opencode ') ||
      github.event.comment.body == '/opencode' ||
      contains(github.event.comment.body, ' /opencode ') ||
      endsWith(github.event.comment.body, ' /opencode')
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write
      issues: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Run opencode
        uses: anomalyco/opencode/github@v1.0.0
        env:
          MINIMAX_API_KEY: ${{ secrets.MINIMAX_API_KEY }}
        with:
          model: opencode/minimax-m2.1-free
